<div class="modal-parent">
    @if (!Submitted)
    {
        <EditForm Model="@EditTripViewModel"
                  OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <span>@Message</span>
            <div class="form-field">
                <label for="tripName">Name<span>*</span></label>
                <InputText id="tripName" @bind-Value="@EditTripViewModel.Name"
                           placeholder="My next adventure"></InputText>
                <ValidationMessage For="@(() => EditTripViewModel.Name)" />
            </div>
            <div class="form-field">
                <label for="tripName">Start Date<span>*</span></label>
                <InputDate id="tripStartDate" @bind-Value="@EditTripViewModel.StartDateTime"
                           placeholder="@DateTime.Now.ToShortTimeString()"></InputDate>
                <ValidationMessage For="@(() => EditTripViewModel.StartDateTime)" />
            </div>
            <div class="form-field">
                <label for="tripName">End Date<span>*</span></label>
                <InputDate id="tripStartDate" @bind-Value="@EditTripViewModel.EndDateTime"
                           placeholder="@DateTime.Now.ToShortTimeString()"></InputDate>
                <ValidationMessage For="@(() => EditTripViewModel.EndDateTime)" />
            </div>

            <div class="form-submit">
                <button type="submit"><strong>&#128190;</strong></button>
                <span>* required fields</span>
            </div>
        </EditForm>
    }
    else
    {
<div class="submitted">
    Your trip <strong>@EditTripViewModel.Name</strong> has been updated!
</div>
    }
</div>