@page "/trips/{tripId}"
@attribute [Authorize]

<div class="trip">
    @if (Trip == null)
    {
        <p>Getting trip info..</p>
    }
    else
    {
        <div class="heading">
            <h1>@Trip.Name</h1>
            <div>
                <span class="val">@Trip.StartDateTime.ToLongDateString()</span>
                to
                <span class="val">@Trip.EndDateTime.ToLongDateString()</span>
            </div>
            <button @onclick="ShowEditTripModal">&#9998;</button>
        </div>
        <div class="trip-info">
            <div>
                <div class="one">
                    <div>
                        <span>From:</span>
                        <span class="val">@(Trip.StartLocation == null ? "No Location Set" : Trip.StartLocation.Name)</span>
                    </div>
                    <div>
                        <button @onclick="(() => ShowEditLocationModal(true))">&#9998;</button>
                    </div>
                </div>
                <div class="two">
                    <div>
                        <span>At:</span>
                        <span class="val">@(Trip.StartLocation == null ? "No Location Set" : Trip.StartLocation.Name)</span>
                    </div>
                    <div>
                            <button @onclick="(() => ShowEditLocationModal(false))">&#9998;</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="trip-section">
            <div class="accom">
                <h3>Accomodation</h3>
                @foreach (var accom in Trip.Accomodations)
                {
                <button @onclick="(() => NavigateToAccomodation(accom.AccomodationId.ToString()))">
                    <h4>@accom.Name</h4>
                    <p><span>&#128197;</span> <strong>@accom.StartDateTime.ToShortDateString()</strong> to <strong>@accom.EndDateTime.ToShortDateString()</strong></p>
                    <p><span>&#127769;</span> @accom.Nights</p>
                </button>
                }
            </div>
            <div class="transport">
                <h3>Transport</h3>
                @foreach (var transport in Trip.Transports)
                {
                    <button @onclick="(() => NavigateToAccomodation(transport.TransportId.ToString()))">
                        <h4>@transport.Name</h4>
                        <p><span>&#128197;</span> <strong>@transport.StartDateTime.ToShortDateString()</strong> to <strong>@transport.EndDateTime.ToShortDateString()</strong></p>
                    </button>
                }
            </div>
            <div class="events">
                <h3>Events</h3>
                @foreach (var ev in Trip.Events)
                {
            <button @onclick="(() => NavigateToAccomodation(ev.EventId.ToString()))">
                <h4>@ev.Name</h4>
                <p><span>&#128197;</span> <strong>@ev.StartDateTime.ToShortDateString()</strong> to <strong>@ev.EndDateTime.ToShortDateString()</strong></p>
                <p><span>&#127968;</span> Location: <strong>@ev.CompanyName</strong></p>
            </button>
                }
            </div>
            <div class="routes">
                <h3>Routes</h3>
                @foreach (var route in Trip.Routes)
                {
                    <button @onclick="(() => NavigateToAccomodation(route.RouteId.ToString()))">
                        <h4>@route.Name</h4>
                        <p><span>&#128197;</span> <strong>@route.StartDateTime.ToShortDateString()</strong> to <strong>@route.EndDateTime.ToShortDateString()</strong></p>
                    </button>
                }

            </div>
        </div>
    }
</div>