@page "/trips/{tripId}"
@attribute [Authorize]

<div class="detail limit-width">
    @if (Trip == null)
    {
        <p>Searching for your adventure..</p>
    }
    else
    {
        <div class="heading">
            <h1>@Trip.Name</h1>
            <div>
                <span class="val">@Trip.StartDateTime.ToLongDateString()</span>
                to
                <span class="val">@Trip.EndDateTime.ToLongDateString()</span>
            </div>
            <button @onclick="ShowEditTripModal">&#9998;</button>
        </div>
        <div class="detail-info">
                <div class="one">
                    <div>
                        <div>Starting From:</div>
                        <div class="val">@(Trip.StartLocation == null ? "No Location Set" : Trip.StartLocation.Name)</div>
                    </div>
                </div>
                <div class="two">
                    <div>
                        <div>Finishing At:</div>
                        <div class="val">@(Trip.EndLocation == null ? "No Location Set" : Trip.EndLocation.Name)</div>
                    </div>
                </div>
        </div>

        <div class="map-parts">
            <div>
                <div>
                    <h2>Schedule</h2>
                </div>
                <div class="ordered-parts">
                    @if (!OrderedTripParts.Any())
                    {
                        <p>Nothing to Schedule Yet..</p>
                        <p>Add an accomodation, transport, event or route, to create your schedule</p>
                    }
                    else
                    {
                        @foreach (var part in OrderedTripParts)
                        {
                            <button class="part-btn @part.CssClass" @onclick="(() => NavigateTo(part.Uri))">
                                <div>
                                    <h4>@part.Name</h4>
                                    <p class="part-type">@part.Type</p>
                                </div>
                                <div class="part-info">
                                    <h4>
                                        <span>&#128197;</span>
                                        <strong>@part.StartDateTime</strong> to
                                        <strong>@part.EndDateTime</strong>
                                    </h4>
                                    <p>
                                        @if (string.IsNullOrWhiteSpace(part.EndLocationName) && string.IsNullOrWhiteSpace(part.StartLocationName))
                                        {
                                            <span>&#128204; </span>
                                            <strong>No Location</strong>
                                        }
                                        else if (string.IsNullOrWhiteSpace(part.EndLocationName) && !string.IsNullOrWhiteSpace(part.StartLocationName))
                                        {
                                            <span>&#128204; At:</span>
                                            <strong>@part.StartLocationName</strong>
                                        }
                                        else
                                        {
                                            <span>&#128204; </span>
                                            <strong>@part.StartLocationName</strong>
                                            <span>
                                                &#10140;
                                            </span>
                                            <strong>@part.EndLocationName</strong>
                                        }
                                    </p>
                                </div>
                            </button>
                        }
                    }
                </div>
            </div>
            <div id="map-wrapper">
                <div class="map-header">
                    <h2>Map</h2>
                    <div>
                        <span>All locations: </span>
                        <button @onclick="ShowFullMapModal">&#128269;</button>
                    </div>
                </div>
                    <Map Zoom="100" Points="@MapPoints"></Map>
            </div>
        </div>
        <div class="divider"></div>
        <div class="trip-section">
            <div class="accom">
                <div>
                    <h3>Accomodation</h3>
                    <button @onclick="CreateAccomodationModal">&#43;</button>
                </div>
                @if (Trip.Accomodations == null || !Trip.Accomodations.Any())
                {
                    <div class="empty-section"><div>No Accomodation yet!</div></div>
                }
                else
                {
                    @foreach (var accom in Trip.Accomodations)
                    {
                        <button class="item-btn" @onclick="(() => NavigateToAccomodation(accom.AccomodationId.ToString()))">
                            <div>
                                <h4>@accom.Name</h4>
                                <p class="nights"><span>&#127769;</span>@accom.Nights</p>
                            </div>
                            <p>
                                <span>&#128197;</span>
                                <strong>@accom.StartDateTime.ToShortDateString()</strong> to
                                <strong>@accom.StartDateTime.AddDays(accom.Nights).ToShortDateString()</strong>
                            </p>
                        </button>
                    }
                }
            </div>
            <div class="transport">
                <div>
                    <h3>Transport</h3>
                    <button @onclick="CreateTransportModal">&#43;</button>
                </div>
                @if (Trip.Transports == null || !Trip.Transports.Any())
                {
                    <div class="empty-section"><div>No Transport yet!</div></div>
                }
                else
                {
                    @foreach (var transport in Trip.Transports)
                    {
                        <button class="item-btn" @onclick="(() => NavigateToAccomodation(transport.TransportId.ToString()))">
                            <div>
                                <h4>@transport.Name</h4>
                            </div>
                            <p>
                                <span>&#128197;</span>
                                <strong>@transport.StartDateTime.ToShortDateString()</strong> to
                                <strong>@transport.EndDateTime.ToShortDateString()</strong>
                            </p>
                            <p>
                                @if (transport.StartLocation == null && transport.EndLocation == null)
                                {
                                    <span>&#9992;&#65039;</span>
                                    <strong>No Locations Set</strong>
                                }
                                else if (transport.StartLocation != null)
                                {
                                    <span>&#9992;&#65039;</span>
                                    <strong>@transport.StartLocation.Name</strong>
                                }
                                else if (transport.EndLocation != null)
                                {
                                    <span>&#9992;&#65039;</span>
                                    <strong>@transport.EndLocation.Name</strong>
                                }
                                else
                                {
                                    <strong>@transport.StartLocation.Name</strong>
                                    <span>&#9992;&#65039;</span>
                                    <strong>@transport.EndLocation.Name</strong>
                                }

                            </p>
                        </button>
                    }
                }
            </div>
            <div class="events">
                <div>
                    <h3>Events</h3>
                    <button @onclick="CreateEventModal">&#43;</button>
                </div>
                @if (Trip.Events == null || !Trip.Events.Any())
                {
                    <div class="empty-section"><div>No Events yet!</div></div>
                }
                else
                {
                    @foreach (var ev in Trip.Events)
                    {
                        <button class="item-btn" @onclick="(() => NavigateToAccomodation(ev.EventId.ToString()))">
                            <h4>@ev.Name</h4>
                            <p><span>&#128197;</span> <strong>@ev.StartDateTime.ToShortDateString()</strong> to <strong>@ev.EndDateTime.ToShortDateString()</strong></p>
                            <p><span>&#127968;</span> Location: <strong>@ev.CompanyName</strong></p>
                        </button>
                    }
                }
            </div>
            <div class="routes">
                <div>
                    <h3>Routes</h3>
                    <button @onclick="CreateRouteModal">&#43;</button>
                </div>
                @if (Trip.Routes == null || !Trip.Routes.Any())
                {
                    <div class="empty-section"><div>No Routes yet!</div></div>
                }
                else
                {
                    @foreach (var route in Trip.Routes)
                    {
                        <button class="item-btn" @onclick="(() => NavigateToAccomodation(route.RouteId.ToString()))">
                            <h4>@route.Name</h4>
                            <p><span>&#128197;</span> <strong>@route.StartDateTime.ToShortDateString()</strong> to <strong>@route.EndDateTime.ToShortDateString()</strong></p>
                        </button>
                    }
                }
            </div>
        </div>
    }
</div>