<div class="booking-info">
    <div class="booking-name">
        @Booking.Name
    </div>
    <div class="booking-link">
        <a href="@Booking.Link" target="_blank" rel="noopener noreferrer">Link</a>
        <div class="hover-hide">
            <div>
                @Booking.Link
            </div>
        </div>
    </div>
    <div class="booking-link">
        <a href="mailto:@Booking.Email" target="_blank" rel="noopener noreferrer">Contact</a>
        <div class="hover-hide">
            <div>
                @Booking.Email
            </div>
        </div>
    </div>
    <div class="booking-description">
        @if (string.IsNullOrWhiteSpace(Booking.Comments))
        {
            <p>No Notes</p>
        }
        else
        {
            <p>Notes:</p>
            <div>
                @Booking.Comments
            </div>
        }
    </div>
</div>