@page "/Routes/{RouteId}"
@attribute [Authorize]

<div class="detail limit-width ate">
    @if (Route == null)
    {
        <p>Searching for your route..</p>
    }
    else
    {
        <div class="heading">
            <h1>Route: @Route.Name</h1>
            <div>
                <div>Part of:</div>
                <button class="trip-button" @onclick="NavigateToTrip">
                    <div>@Route.Trip.Name</div>
                </button>
            </div>
            <button @onclick="ShowEditRouteModal">&#9998;</button>
        </div>

        @if (Route.Points != null && Route.Points.Count >= 2)
        {
            <div class="detail-info">
                <div class="one">
                    <div>
                        <div>Location:</div>
                        <div class="val">@(Route.Points?.FirstOrDefault()?.Location?.Name ?? "No Location Set")</div>
                    </div>
                </div>
                <div class="two">
                    <div>
                        <div>Location:</div>
                        <div class="val">@(Route.Points?.LastOrDefault()?.Location?.Name ?? "No Location Set")</div>
                    </div>
                </div>
            </div>
        }

        <div class="map-parts">
            <div class="ate-info">
                <div id="dates-times">
                    <div>
                        <h4>
                            Starting Time:
                        </h4>
                        <div>
                            @Route.StartDateTime.ToLongDateString()
                            (@Route.StartDateTime.ToShortTimeString())
                        </div>
                    </div>
                    <div>
                        <h4>
                            Finishing Time:
                        </h4>

                        <div>
                            @Route.EndDateTime.ToLongDateString()
                            (@Route.EndDateTime.ToShortTimeString())
                        </div>
                    </div>
                </div>
                <div id="route-plan">
                    @for (int i = 1; i <= Route.Points.Count; i++)
                    {
                        var point = Route.Points.ElementAt(i - 1);
                    <div>
                        <div id="point-title">
                            <h4>@i. @point.Location.Name</h4>
                        </div>
                        <div id="point-coords">
                            <p >(@Math.Round(point.Location.Latitude, 3)° @Math.Round(point.Location.Longitude, 3)°)</p>
                        </div>
                        <div class="part-info">
                            <p>
                                <span>&#128197;</span>
                                <strong>@point.StartDateTime.ToString("dd MMMM HH:mm")</strong> to
                                <strong>@point.EndDateTime.ToString("dd MMMM HH:mm")</strong>
                            </p>
                            <p>
                                @if (point.AssociatedEventId.HasValue)
                                {
                                    <span>&#127881; Event:</span>
                                    <button class="part-btn" @onclick="(() => NavigateToEvent(point.AssociatedEventId.Value))" />
                                }
                            </p>
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="map-container">
                <div class="map-header">
                    <h2>Map</h2>
                    @if (MapPoints != null && MapPoints.Any())
                    {
                        <div>
                            <span>All locations: </span>
                            <button @onclick="ShowFullMapModal">&#128269;</button>
                        </div>
                    }
                </div>
                @if (MapPoints != null && !MapPoints.Any())
                {
                    <div class="no-points-wrapper">
                        <div class="no-points">No Points added to map yet!</div>
                    </div>
                }
                else
                {
                    <div id="map-wrapper">
                        <Map Zoom="100" Points="@MapPoints"></Map>
                    </div>
                }
            </div>
        </div>

    }
</div>