@page "/events"
@attribute [Authorize]

<div class="overview-wrapper limit-width">
    <div class="heading">
        <h1>Your Events</h1>
        <button @onclick="ShowCreateEventModal"><span>New &#43;</span></button>
    </div>
    @if (Events == null)
    {
        <p>Finding your events..</p>
    }
    else if (Events.Count == 0)
    {
        <strong>You don't have events yet, starting planning one now!</strong>
    }
    else
    {
        <div class="overview-list">
            <ul>
                @foreach (var ev in Events)
                {
                    <li>
                        <a href="@($"/events/{ev.EventId}")">
                            <div class="overview-name">
                                <h3>@ev.Name</h3>
                                <span><strong>@ev.StartDateTime.ToShortDateString()</strong> - <strong>@ev.EndDateTime.ToShortDateString()</strong></span>
                            </div>
                            <div class="overview-info">
                                <div>
                                    <div>
                                        &#128712; @ev.Description
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</div>