@page "/login"
@page "/login/{redirected}"

<div class="login">
    <div class="heading">
        <h1>Login</h1>
        <a href="/signup">Don't have an account? Sign up</a>
    </div>
    <EditForm Model="@LoginViewModel"
              OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <span>@Message</span>
        <div class="form-field">
            <div class="inputs">
                <label for="email">Email</label>
                <InputText id="email" @bind-Value="@LoginViewModel.Email"></InputText>
            </div>
            <div>
                <ValidationMessage For="@(() => LoginViewModel.Email)" />
            </div>
        </div>
        <div class="form-field">
            <div class="inputs">
                <label for="password">Password</label>
                <InputText id="password" @bind-Value="@LoginViewModel.Password"></InputText>
            </div>
            <div>
                <ValidationMessage For="@(() => LoginViewModel.Password)" />
            </div>
        </div>

        <button type="submit"><strong>Login</strong></button>
    </EditForm>
</div>