@page "/accomodations/{accomodationId}"
@attribute [Authorize]

<div class="detail limit-width ate">
    @if (Accomodation == null)
    {
        <p>Searching for your adventure..</p>
    }
    else
    {
        <div class="heading">
            <h1>@Accomodation.Name</h1>
            <div>
                <div>Part of:</div>
                <button class="trip-button" @onclick="NavigateToTrip">
                    <div>@Accomodation.Trip.Name</div>
                </button>
            </div>
            <button @onclick="ShowEditAccomodationModal">&#9998;</button>
        </div>
        <div class="detail-info">
            <div class="one">
                <div>
                    <div>Location:</div>
                    <div class="val">@(Accomodation.Location == null ? "No Location Set" : Accomodation.Location.Name)</div>
                </div>
            </div>
        </div>

        <div class="map-parts">
            <div class="ate-info">
                <div class="dates-times">
                    <div>
                        <h4>
                            Booked From:
                        </h4>
                        <div>
                            @Accomodation.StartDateTime.ToLongDateString()
                            (@Accomodation.StartDateTime.ToShortTimeString())
                        </div>
                    </div>
                    <div>
                        <h4>
                            Leaving on:
                        </h4>

                        <div>
                            @Accomodation.EndDateTime.ToLongDateString()
                            (@Accomodation.EndDateTime.ToShortTimeString())
                        </div>
                    </div>
                </div>
                <div class="info-description">
                    <div>
                        <h4>Type</h4>
                        <div>@Accomodation.AccomodationType.Name</div>
                    </div>
                    <div>
                        <h4>About</h4>
                        @if (string.IsNullOrWhiteSpace(Accomodation.Description))
                        {
                            <div>No Description yet!</div>
                        }
                        else
                        {
                            <div>@Accomodation.Description</div>
                        }
                    </div>
                </div>
                <div class="cost-nights">
                    <div class="minimal">
                        <h4>
                            Cost per night:
                        </h4>
                        @if (Accomodation.CostPerNight.HasValue)
                        {
                            <div>
                                £@Accomodation.CostPerNight
                            </div>
                        }
                        else
                        {
                            <div>
                                Free!
                            </div>
                        }
                    </div>
                        <div class="minimal">
                            <h4>
                                Number of nights:
                            </h4>
                            <div>
                                @Accomodation.Nights
                            </div>
                        </div>
                        @if (Accomodation.CostPerNight.HasValue)
                        {
                            <div class="minimal">
                                <h4>
                                    Total Cost:
                                </h4>
                                <div>
                                    £@(Accomodation.CostPerNight * Accomodation.Nights)
                                </div>
                            </div>
                        }
                    </div>
            </div>
            <div id="map-wrapper">
                <div>
                    <h2>Map</h2>
                </div>
                <Map Zoom="100" Points="@MapPoints"></Map>
            </div>
        </div>
        <div class="divider"></div>
        <div class="booking-section">
            <div class="heading">
                <h2>Reservations</h2>
                <button @onclick="ShowEditAccomodationBookingModal">&#9998;</button>
            </div>
            @if (Accomodation.Booking == null)
            {
                <div class="no-booking">&#128681; No Booking Added.</div>
            }
            else
            {
                <BookingInfo Booking="Accomodation.Booking"/>
            }
        </div>
    }
</div>